.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
}

.header {
  font-family: 'Poppins', sans-serif;
  text-align: left;
  padding: 4rem 2rem 2rem 10rem;
  width: 90vw;
  height: 70vh;
  color: #87431d;
  margin: 6rem 2rem 5rem;
  background-size: contain;
  background-position: 100%;
  background-repeat: no-repeat;
  background-image: url('../../assets/header-img.svg');
}
.header-title-1 {
  font-family: 'Poppins', sans-serif;
  font-size: 2rem;
}
.header-title-2 {
  font-family: 'Poppins', sans-serif;
  font-size: 6rem;
  font-weight: 600;
}
.header-title-3 {
  font-family: 'Poppins', sans-serif;
  font-size: 2.4rem;
  font-weight: 400;
}

@media screen and (max-width: 960px) {
  .header-container {
    align-items: baseline;
    justify-content: center;
  }
  .header {
    padding: 1rem 0;
    text-align: center;
    background-size: contain;
    background-position: 0 100%;
  }
}
