.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  margin-top: 2%;
  margin-bottom: 2%;
  justify-content: space-between;
}

.header {
  text-align: left;
  height: 30rem;
  text-transform: uppercase;
  color: #87431d;
  margin: 1rem 2rem;
}

.header-image {
  border-radius: 50%;
}
.header-image img {
  height: 90%;
}

@media screen and (max-width: 960px) {
  .header-image img {
    position: absolute;
    z-index: -1;
    opacity: 0.4;
  }
  .header-container {
    align-items: baseline;
    justify-content: center;
  }
  .header {
    text-align: center;
    background-image: url('../../assets/header-img.svg');
  }
}
