.header-container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 1rem;
  background-image: linear-gradient(to bottom right,
    rgb(255, 255, 255),
  rgba(224, 223, 219, 0.517)), url('../../assets/header-img.svg');
  background-size: contain;
  background-position: right bottom;
  background-repeat: no-repeat;
}

.header {
  text-align: left;
  padding: 4rem 2rem 2rem 15rem;
  width: 90vw;
  height: 70vh;
  text-transform: uppercase;
  color: #87431d;
  margin: 1rem 2rem 4rem;
}
.header-title-2 {
  font-size: 2.5rem;
}
.header-title-1 {
  font-size: 3rem;
}

@media screen and (max-width: 960px) {
  .header-container {
    align-items: baseline;
    justify-content: center;
  }
  .header {
    padding: 1rem 0;
    text-align: center;
    background-size: contain;
    background-position: 0 100%;
  }
}
