.navbar {
  background: rgb(72, 42, 23);
  /*background: linear-gradient(
    90deg,
    rgba(72, 42, 23, 1) 0%,
    rgba(72, 42, 23, 1) 49%,
    rgba(240, 179, 141, 0.773546918767507) 100%
  ); */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 95%;
  margin-left: 2%;
  margin-right: 2%;
  border-radius: 1.2rem;
  position: fixed;
  z-index: 1000;
  border: solid .1rem #dbcbbd;
}
.main{
  width: 100%;
  padding-top: 0.6rem;
  padding-bottom: 1rem;
}
ul {
  margin: 0;
  padding: 0;
}

.nav-logo {
  display: flex;
  justify-self: start;
  height: 90%;
  width: auto;
  margin: 0 1.5rem;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  width: 60%;
  justify-content: flex-start;
  margin-right: 1.5rem;
}

.nav-links {
  color: #dbcbbd;
  text-decoration: none;
  padding: 0.5rem 3rem;
  font-size: 1.2rem;
  font-weight: 100;
}

.nav-links:hover {
  background-color: #dbcbbd;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: #87431d;
}

.fa-bars {
  color: #87431d;
}

.menu-icon {
  display: none;
}
.bit-code-register{
  padding: 0.5rem 2rem;
  display: flex;
  border-radius: 4px;
  border: 1.2px solid #87431d;
  justify-self: start;
  color: #fff;
  background-color: #87431d;
  margin: 0 1.5rem;
  text-decoration: none;
}
.bit-code-register:hover{
  background-color: #dbcbbd;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  color: #87431d;
}
.btn{
  text-decoration: none;
}
.nav-register-btn{
  display: none;
  text-decoration: none;
  background-color: #87431d;
  padding: 0.5rem 3rem;
  border-radius: 4px;
  color: #fff;
  border: 1.2px solid #87431d;
  text-decoration: none;
}
@media screen and (max-width: 1260px){
  .nav-logo {
    display: flex;
    justify-self: start;
    height: 70%;
    width: auto;
    margin: 0 1.5rem;
  }
  .nav-menu {
    display: flex;
    flex-direction: row;
    list-style: none;
    text-align: center;
    width: 60%;
    justify-content: flex-start;
    margin-right: 1.2rem;
  }
  .nav-links {
    color: #dbcbbd;
    text-decoration: none;
    font-size: 1rem;
    padding: 0.5rem 1.8rem;
    font-weight: 100;
  }

}
@media screen and (max-width: 1057px){
  .nav-logo {
    display: flex;
    justify-self: start;
    height: 70%;
    width: auto;
    margin: 0 1rem;
  }
  .bit-code-register{
    padding: 0.5rem 2rem;
    display: flex;
    border-radius: 4px;
    border: 1.2px solid #87431d;
    justify-self: start;
    color: #fff;
    background-color: #87431d;
    margin: 0 1rem;
  }
}
@media screen and (max-width: 960px) {

  .navbar {
    position: fixed;
    padding: 0;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 360px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background-color: rgb(72, 42, 23);
    border-radius: 0 0 10%;
    left: 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    border: solid .1rem #dbcbbd;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #dbcbbd;
    border-radius: 0;
  }
  .nav-register-btn{
    display: flex;
    justify-content: center;
    margin: 2rem;
    margin-bottom: 4rem;
    text-align: center;
    text-decoration: none;
  }
  .nav-register-btn:hover{
  background-color: #dbcbbd;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  color: #87431d;
  text-decoration: none;
  }
 .bit-code-register{
  display: none;
 }
  .nav-logo {
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 60%;
    margin:0;
    width: auto;
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 42%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #dbcbbd;
    font-size: 2rem;
  }
}

@media screen and (max-width: 350px) {
  .nav-logo {
    height: 60%;
    width: auto;
    margin: 2rem 2rem 2rem;
  }
}
