.navbar {
  margin-top: .6rem;
  margin-bottom: 1rem;
  background: rgb(72, 42, 23);
  /*background: linear-gradient(
    90deg,
    rgba(72, 42, 23, 1) 0%,
    rgba(72, 42, 23, 1) 49%,
    rgba(240, 179, 141, 0.773546918767507) 100%
  ); */
  height: 80px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 1.2rem;
  width: 92%;
  margin-left: 4%;
  margin-right: 4%;
  border-radius: 1.2rem;
  position: fixed;
  z-index: 1000;
  border: solid .1rem #dbcbbd;
}

ul {
  margin: 0;
  padding: 0;
}

.nav-logo {
  display: flex;
  justify-self: start;
  height: 90%;
  width: auto;
  margin: 0 2rem;
}
.nav-menu {
  display: flex;
  flex-direction: row;
  list-style: none;
  text-align: center;
  width: 60vw;
  justify-content: flex-start;
  margin-right: 2rem;
}

.nav-links {
  color: #dbcbbd;
  text-decoration: none;
  padding: 0.5rem 3rem;
  font-size: larger;
  font-weight: 100;
}

.nav-links:hover {
  background-color: #dbcbbd;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: #87431d;
}

.fa-bars {
  color: #87431d;
}

.menu-icon {
  display: none;
}

@media screen and (max-width: 960px) {

  .navbar {
    position: fixed;
    padding: 0;
  }

  .nav-menu {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 360px;
    position: absolute;
    top: 80px;
    left: -100%;
    opacity: 1;
    transition: all 0.5s ease;
  }

  .nav-menu.active {
    background-color: rgb(72, 42, 23);
    border-radius: 0 0 10%;
    left: 0;
    opacity: 1;
    transition: all 0.3s ease-in-out;
    z-index: 1;
    border: solid .1rem #dbcbbd;
  }

  .nav-links {
    text-align: center;
    padding: 2rem;
    width: 100%;
    display: table;
  }

  .nav-links:hover {
    background-color: #dbcbbd;
    border-radius: 0;
  }

  .nav-logo {
    display: flex;
    justify-content: flex-start;
    position: relative;
    height: 60%;
    width: auto;
    margin:0;
    margin-right:.4rem 
  }

  .menu-icon {
    display: block;
    position: absolute;
    top: 0;
    right: 0;
    transform: translate(-100%, 60%);
    font-size: 1.8rem;
    cursor: pointer;
  }

  .fa-times {
    color: #dbcbbd;
    font-size: 2rem;
  }
}

@media screen and (max-width: 350px) {
  .nav-logo {
    height: 60%;
    width: auto;
    margin: 2rem 2rem 2rem;
  }
}
