@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

.footer {
  background: rgb(72, 42, 23);
  padding: 3rem 1rem 1.5rem;
  color: #dbcbbd;
  text-decoration: none;
  margin-bottom: 1rem;
  justify-content: space-between;
  display: flex;
}
.row {
  margin: 2rem 0;
}
.col-sm-12 {
  border-right: 2px solid #dbcbbd;
}
li {
  padding: 0.6rem 0;
}
.list-unstyled li a {
  color: #dbcbbd;
  padding: 0.4rem;
  text-decoration: none;
  font-size: larger;
  font-weight: 100;
}
li a:hover {
  background-color: #dbcbbd;
  border-radius: 4px;
  transition: all 0.2s ease-out;
  text-decoration: none;
  color: #87431d;
}
.footer-para-title {
  text-align: center;
}
.col-sm-12 h2 {
  margin-top: 3%;
  font-weight: 500;
  text-align: left;
}
.activity-header {
  text-align: center;
}
.footer-list-item {
  text-align: left;
  font-size: 1.2rem;
}
.footer-last-text {
  font-size: 3rem;
  text-decoration: none;
  color: #dbcbbd;
}
.footer-last-text i {
  padding: 0.6rem;
  border-radius: 10px;
}
.footer-last-text i:hover {
  background-color: #dbcbbd;
  color: #87431d;
}

.footer-last-text a {
  text-decoration: none;
  color: #dbcbbd;
  padding: 0.6rem;
  border-radius: 10px;
}
.footer-last-text a:hover {
  background-color: #dbcbbd;
  color: #87431d;
}
.footer-para {
  text-align: left;
}
.codechef-chapter h3 a {
  text-decoration: none;
  color: #dbcbbd;
  padding: 0.6rem;
  text-transform: unset;
  text-decoration: underline;
}
.codechef-chapter h3 a:hover {
  background-color: #dbcbbd;
  color: #87431d;
  border-radius: 10px;
}
@media screen and (max-width: 960px) {
  .footer {
    padding: 1rem 1rem 1.5rem;

  }
  .row {
    text-align: left;
  }
  .header-image {
    position: absolute;
    z-index: -1;
    opacity: 0.4;
  }
  .footer-para-title {
    text-align: left;
  }
  .footer-para {
    text-align: justify;
  }
  .col-sm-12 {
    border-top: 10px dotted #dbcbbd;
    padding-top: 1.5rem;
    border-right: none;
    padding: 3rem 0;
  }
  .unactive {
    border-top: none;
  }
}
