.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav {
  display: flex;
  flex-direction: row;
}

.ranklist__head {
  display: flex;
  flex-direction: column;
}
