* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
  font-family: sans-serif;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

.nav {
  display: flex;
  flex-direction: row;
}

.ranklist__head {
  display: flex;
  flex-direction: column;
}
.lb-title {
  text-decoration: none;
  font-size: 3rem;
  font-weight: 300;
  color: #87431d;
  font-family: 'Roboto', sans-serif;
  outline: none;
  padding: 0.5rem 1rem;
}
.lb-title:hover {
  text-decoration: none;
  color: #87431d;
  cursor: pointer;
  box-shadow: 2px 3px #dbcbbd;
}
